# -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <script type="application/javascript" src="http://www.google.com/jsapi"></script>
  <script type="application/javascript">
  google.load("jquery", "1.3.2");
  </script>
  <script type="text/javascript">
  $(document).ready( function() {

  $('a.delete').click( function() {
    var theAnchor = this;
    if ( confirm('Are you sure you want to delete this?' ) )
      $.ajax({
        type: 'DELETE',
        url: $(this).attr('href'),
        dataType: 'json',
        success: function() {
            var toRemove = $(theAnchor).attr('data-remove');
            $("#" + toRemove).remove();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Ooooops!, request failed with status: " + XMLHttpRequest.status + ' ' + XMLHttpRequest.responseText);
        }
      });
    return false;
  });

});
  </script>
    ${self.head_tags()}
  </head>
  <body>
    ${self.body()}
  </body>
</html>
