# -*- coding: utf-8 -*-
<%inherit file="/base.html" />

<%def name="head_tags()">
  <!-- add some head tags here -->
</%def>

<h1>Face recognition dropbox</h1>

<h3>Scan photo:</h3>
<form method="POST" enctype="multipart/form-data" action="/">
<p>
Give back JSON rather than PNG image? <input type="checkbox" name="json" value="true"/>
<select name="cascade">
% for cascade in r.cascades:
<option>${cascade}</option>
% endfor
</input>
</p>
<p>
<input type="file" name="part"/>
<input type="submit" value="Scan photo"/>
</p>
</form>
